{% block flashes %}
    {% for flash_message in app.session.flashbag.get('notice') %}
        <div class="alert alert-global alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <p>{{ flash_message|raw }}</p>
        </div>
    {% endfor %}

    {% for flash_message in app.session.flashbag.get('error') %}
        <div class="alert alert-global alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <p>{{ flash_message|raw }}</p>
        </div>
    {% endfor %}

    {% for flash_message in app.session.flashbag.get('warning') %}
        <div class="alert alert-global alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <p>{{ flash_message|raw }}</p>
        </div>
    {% endfor %}

    {% for flash_message in app.session.flashbag.get('success') %}
        <div class="alert alert-global alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <p>{{ flash_message|raw }}</p>
        </div>
    {% endfor %}
{% endblock %}
