{% extends 'base.html.twig' %}

{% block body %}
    <div class="text-center">
        <h1>Bonjour ZOL !</h1>
        <section>
            <a class="btn btn-info btn-lg" href="{{ path('homepage', {'export': 1}) }}">Export users</a>
        </section>
    </div>
{% endblock %}